name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-macos-arm:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: make

      - name: Run tests on macos arm64
        run: make test
